html {
    background-image:url("../img/bg.png");
}

body {
    width:98%;
    background-size : cover;
    margin:0 auto;
}

* {
    margin:0;
}

header {
    
}

footer {
    
}


nav {
    margin : 50px auto;
    width  : 100%;
}

menu {
    border-radius : 3px;
}

menu:after , menu:before {
    display : block;
    content : ' ';
}

menu:after {
    clear : both;
}

a {
    text-decoration:none;
}
a:link {
    color: rgba(0, 0, 255, 0.32);
}    /* 未訪問のリンク */
a:visited {
    color: rgba(0, 0, 0, 0.32);
} /* 訪問済みのリンク */
a:hover {
    color: #ff0000;
}   /* ポイント時のリンク */
a:active {
    color: #ff8000;
}  /* 選択中のリンク */
.bottom0 {
    position: relative;
    bottom:0px;
}
.article_box {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: rgba(0,0,200,0.8);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
    border: 30px solid rgba(255,200,200,0.5);
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    background: rgba(200,255,255,0.9);/*背景色*/ border-top: solid 6px rgba(200,200,255,0.8);
}
.article_box p {
    margin: 0;
    padding: 0;
    min-height:200px;
}


li {
    list-style-type : none;
    background      : linear-gradient(rgba(220,220,255,0.4) 85%, rgba(255,255,255,0.5) 100%);
    
    float   : left;
    cursor  : pointer;
    padding : 3px 10px;
    border-top    : 2px solid rgba(200,200,255,0.5);
    border-bottom : 2px solid rgba(50,50,50,0.4);
}

li:first-child {
    border-radius : 5px 0 0 5px;
}

li:last-child {
    border-radius : 0 5px 5px 0;
}

h1 {
    border: 6px solid rgba(255,200,200,0.5);
    background:rgba(255,200,200,0.5);
    border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
    padding: 4%;
    width: 50%;
    margin: 10px;
    color:rgba(255,200,200,0.5);
}

a.design {
    display : block;
    padding : 10px 13px;
    font-size : 26px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : #FFF;
    transition : all .4s;
}

li.design:hover a {
    top   : -20px;
    color : #4eacff;
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

li.design a:after {
    display  : block;
    content  : '';
    position : absolute;
    top  : 100%;
    left : 42%;
    border-style : solid;
    border-color : transparent;
    border-width : 5px 5px 0 5px;
    transition   : all .4s;
}

li.design:hover a:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/*************************************/

.designMenu {
    width : 100%;
}

.designMenu a {
    font-family : georgia;
    font-size   : 14px;
    font-style  : italic;
    text-transform : capitalize;
}

.designMenu li {
    border-right  : 1px solid rgba(200,200,255,0.5);
    border-left   : 1px solid rgba(40,40,40,0.2);
}

.selected.design {
    top   : -20px;
    color : rgba(200,0,0,0.5);
    background-color: #fff;
    box-shadow : 0 0 5px 0 rgba(255, 255, 255, 0.7);
    transition : all .4s;
}

.selected.design:after {
    border-color : white transparent transparent transparent;
    transition   : all .4s;
}

/*********** MENU ********************/

.selected.main_menu {
    color : rgba(255,0,0,0.5);
    box-shadow : 0 10px 10px 0 rgba(255, 255, 255, 0.7);
    font-size:1.2em;
    text-decoration: none;
    transition : all .4s;
}

a.main_menu {
    color : rgba(200,200,0,0.5);
    font-size:1.2em;
    text-decoration: none;
    transition : all .4s;
}

/*a.main_menu:link {*/
/*    color : rgba(255,255,255,1.0);*/
/*    box-shadow : 0 10px 10px 0 rgba(255, 255, 255, 0.7);*/
/*    text-decoration: none;*/
/*    transition : all .4s;*/
/*}*/

a.main_menu:visited {
    color : rgba(255,255,255,1.0);
    box-shadow : 0 10px 10px 0 rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition : all .4s;
}
a.main_menu:active {
    color : rgba(255,255,255,1.0);
    box-shadow : 0 10px 10px 0 rgba(255, 255, 255, 0.7);
    font-size:1.2em;
    text-decoration: none;
    transition : all .4s;
}

a.main_menu:hover {
    color : rgba(255,0,0,1.0);
    box-shadow : 5px 10px 10px -10px rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition : all .4s;
}

a.main_menu:after {
    color : rgba(200,255,0,0.5);
    border-width : 5px 10px 10px 5px;
    text-decoration: none;
    transition   : all .4s;
}

.main_menu a:hover .main_menu a:after {
    color : rgba(200,0,0,0.5);
    border-color : white transparent transparent transparent;
    text-decoration: none;
    transition   : all .4s;
}

.bgColorBlack {
    background-color:rgba(100,100,100,0.8);
}
.textColorBlack {
    color: rgba(0,0,0,0.8);
}
.bgColorBlue {
    background-color:rgba(200,200,255,0.8);
}
.textColorBlue {
    color: rgba(100,100,200,0.8);
}
.bgColorPink {
    background-color:rgba(255,230,230,0.8);
}
.textColorPink {
    color: rgba(200,150,150,0.8);
}
.bgColorRed {
    background-color:rgba(250,200,200,0.8);
}
.textColorRed {
    color: rgba(200,100,100,0.8);
}
.bgColorYellow {
    background-color:rgba(250,250,200,0.8);
}
.textColorYellow {
    background-color:rgba(200,200,100,0.8);
}
.bgColorWhite {
    background-color:rgba(255,255,255,0.8);
}
.textColorWhite {
    background-color:rgba(200,200,200,0.8);
}


