/*
TONBO RESET CSS
Version: 1.0
*/

* {
border:0;
margin:0;
outline:0;
padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
font:inherit;
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
text-decoration:none;
vertical-align:baseline;
}

html {font-size:62.5%; width:100%;}

body {
font-size:14px;
font-size:1.4rem;
line-height:1;
position:relative;
text-align:center;
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	-o-text-size-adjust:100%;
	text-size-adjust:100%;
-webkit-font-smoothing:antialiased;
font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
width:100%;
height:100%;
}


html, body {
	margin: 0;
	padding: 0;
}

article, aside, dialog, figure, footer, header, main, menu, nav, section {display:block;}
audio, canvas, video {display:inline-block;}

a {color: #000000;}
br,
hr {display:block; line-height: 0;}

ol,
ul {list-style:none;}

blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}

input,
select {vertical-align:middle;}

table {border-collapse:collapse; border-spacing:0; empty-cells:show;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

table {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}
ul li, ol li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
a img {
	border: 0;
}
img {
	vertical-align: bottom;
}


/* clearfix */
.clfix:after {
  	content: "."; 
  	display: block; 
  	height: 0; 
  	clear: both; 
  	visibility: hidden;
}
.clfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clfix {
	height: 1%;
}
.clfix {
	display: block;
}
/* End hide from IE-mac */


hr + br.space,
body + br.space,
div + br.space,
dl + br.space,
dt + br.space,
dd + br.space,
ul + br.space,
ol + br.space,
li + br.space,
h1 + br.space,
h2 + br.space,
h3 + br.space,
h4 + br.space,
h5 + br.space,
h6 + br.space,
pre + br.space,
code + br.space,
form + br.space,
fieldset + br.space,
legend + br.space,
input + br.space,
button + br.space,
textarea + br.space,
blockquote + br.space,
table br.space,
th + br.space,
tbody + br.space,
thead + br.space,
tfoot + br.space,
tr + br.space,
td + br.space{
	display:none;
}


/* margin */
.decMB5{margin-bottom:5px;}
.decMB10{margin-bottom:10px;}
.decMB15{margin-bottom:15px;}
.decMB20{margin-bottom:20px;}
.decMB25{margin-bottom:25px;}
.decMB30{margin-bottom:30px;}
.decMB35{margin-bottom:35px;}
.decMB40{margin-bottom:40px;}
.decMB50{margin-bottom:50px;}
.decMB60{margin-bottom:60px;}
.decMB70{margin-bottom:70px;}
.decMB100{margin-bottom:100px;}



.decTP5{margin-top:5px;}
.decTP10{margin-top:10px;}
.decTP15{margin-top:15px;}
.decTP20{margin-top:20px;}
.decTP25{margin-top:25px;}
.decTP30{margin-top:30px;}
.decTP35{margin-top:35px;}
.decTP40{margin-top:40px;}
.decTP55{margin-top:55px;}
.decTP50{margin-top:50px;}
.decTP60{margin-top:60px;}
.decTP70{margin-top:70px;}
.decTP120{margin-top:120px;}